# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.bak
*.save

docs/*
src_archive/*
.#*

cb/*layout*
cb/bin
cb/main.cpp
cb/*script*

*.gz


